<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FriendRequests</key>
	<array>
		<dict>
			<key>userID</key>
			<string>uuuuuu</string>
			<key>username</key>
			<string>Rachel Higgins</string>
		</dict>
		<dict>
			<key>userID</key>
			<string>klklklk</string>
			<key>username</key>
			<string>Stuart Higgins</string>
		</dict>
		<dict>
			<key>userID</key>
			<string>ghghgh</string>
			<key>username</key>
			<string>Ryan Smith</string>
		</dict>
		<dict>
			<key>userID</key>
			<string>abcde</string>
			<key>username</key>
			<string>John Smith</string>
		</dict>
		<dict>
			<key>userID</key>
			<string>fghij</string>
			<key>username</key>
			<string>Mary Smith</string>
		</dict>
	</array>
</dict>
</plist>
